body{
    background: linear-gradient(to right, red, yellow);
    margin: 0;
    padding: 0;
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    margin-top: 100px;
}
.card{
    background: black;
    color: white;
    box-shadow: 0px 20px 40px -10px green;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    position: relative;
    padding: 20px;
    overflow: hidden;
}
.card1{
    position: absolute;
    left: 550px;
    width: 200px;
    height: 60px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    transition: left 3.1s ease;
    top: 100px;
}
.card:hover .card1{
    left: 300px;
    top: 100px;
    transition: left, 3.1s all;
    transform: rotate(360deg);
    box-shadow: -30px 40px 20px -30px brown;
}
.tx{
    font-size: 20px;
}
